* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    height: 100px;
    background-color:black;
}
.container {
    height: 600px;
    border-radius: none;
    background: linear-gradient(145deg, #333232, #3d3b3b);
    box-shadow:  5px 5px 0px #171616,
                 -5px -5px 0px #5b5858;
}
footer {
    height: 81px;
    background-color: black;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: white;
}